<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Lista de tarefas</title>
</head>
<body>
    <div class="tarefas">
        <form action="/" method="POST">
            <label for="tarefa">Insira uma tarefa: </label>
            <input type="text" name="tarefa">
            <input type="submit" name="acao" value="Inserir">
        </form>
        <div class="linha-divisoria"></div>
        <div class="tarefas-container">
            <h4>Suas tarefas</h4>
            <% for(let i = 0; i < tarefasList.length; i++){ %>

                <p><%= tarefasList[i] %>  <a href="/deletar/<%= i %>">Excluir</a></p>
            
            <% } %>
        </div>
        <div class="linha-divisoria"></div>
    </div>
</body>
</html>