* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #333;
}

.tarefas {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    max-width: 700px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.tarefas form {
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarefas label {
    margin-bottom: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.tarefas input[type='text'] {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 2em;
    background-color: #e6e6e6;

}

.tarefas input[type='submit'] {
    background-color: rgb(5, 194, 21);
    border: none;
    border-radius: 15px;
    color: #fff;
    width: 5em;
    height: 2em;
    margin-top: 1em;
    padding: 0.5em;
    cursor: pointer;
}

.tarefas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    gap: 0.5em;
    margin-bottom: 2em;
}

.linha-divisoria {
    width: 100%;
    height: 1px;
    background-color: #333;
    margin-bottom: 0.5em;
}

.tarefas-container h4 {
    margin-bottom: 0.5em;
    font-family: Arial, Helvetica, sans-serif;

}

.tarefas-container a {
    margin-left: 0.5em;
    text-decoration: none;
    background-color: #cf0909;
    color: #fff;
    border-radius: 15px;
    font-size: 0.75em;
    padding: 0.2em 0.5em;
}

